body {
}

nav {
  padding: 0.5em;
  margin: 0.5em;
}

.flexOuterCenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.flexOuterStart {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.invis {
  display:none !important;
}

.header_link {
  margin: 0.5em;
  padding: 0.5em;
}

input.zeroTest,
select.zeroTest,
input.zeroText,
input.zeroTestModal {
  margin: 1em;
  padding: 0.25em 0.75em;
  border-radius: 2px;
  border: 1.5px solid cornflowerblue;
  font-size: 16px;
}

input.zeroText,
select.zeroTest {
  margin: 0;
}

select.zeroTest {
  min-width: 8em !important;
}



.slight {
  opacity: 0.33;
}

h1.h_one {
  font-size: 72px;
  opacity: 0.15;
  margin: 0.25em 0 0 0;
  padding: 0.25em 0 0 0;
}

h1.h_zero {
  font-size: 56px;
  opacity: 0.15;
  margin: 0.25em 0 0 0;
  padding: 0.25em 0 0 0;
}

h2 {
  font-size: 16px;
  opacity: 0.65;
}

h3 {
  font-size: 12px;
  opacity: 0.35;
  color: cornflowerblue;
}

th {
  font-size: 16px !important;
  font-weight: 800 !important;
  line-height: 2;
}

.middle {
  text-align: center;
  margin: 0.25em;
  padding: 0.25em;
}

.supporting_text {
  margin: -1.2em 0 0.25em 0;
  padding: 0 0 0.25em 0;
  font-size: 24px;
  font-family: "Lato";
}

.smaller {
  font-size: 24px;
}

.bigger {
  font-size:30px;
}

a {
  font-size: 16px;
  padding: 0 0.5em;
  margin: 0 0.5em;
}

a:link, a:active, a:hover, a:visited {
  color: cornflowerblue;
  text-decoration: none;
}

.bl_api_client_file,
.bl_admin,
input[type="submit"] {
  color: white;
  background-color: steelblue;
  padding: 1em;
  margin: 1em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 800;
}

input[type="file"] {
  opacity: 0;
  width: 0;
  height: 0;
  padding: 0 0 !important;
  margin: 0 0 !important;
  cursor: pointer;
}

input[type="number"] {
  width: 56px;
  border-radius: 2px;
  border: 1.5px solid cornflowerblue;
  font-size: 16px;
}

input.zeroTestModal {
  opacity: 0;
}

.form-wrap h3 {

}

form h2 {

}

.drop {
  background-color: red !important;
  opacity: 0.5;
}

.drop td.drop_me {
  color: white !important;
}

.drop td.drop_me:hover {
  color: white !important;
}

.radioLabel {
  padding: 0 0.75em;
}

input[type="radio"] {
  margin: 0 1.5em;
}

.locale_index {
  opacity: 0.6;
  font-size:12px;
}

.alert_me {
  font-size: 12px;
  color: orange !important;
}

.alert_me_extra {
  font-size: 14px;
  color: orange !important;
  font-weight: 800;
  padding: 0 0.5em;
}

.assure_me {
  font-size: 14px;
  color: cornflowerblue !important;
  font-weight: 800;
  padding: 0 0.5em;
  opacity: 0.66;
}

.call_now_label {
  padding: 0.75em 0.5em 0 0.5em !important;
}


input[type="checkbox"] {
  margin: 0.75em 0.5em 0.5em 0.5em !important;
}
