.bl_client_review.google {
    background: #f7f7f7;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
    box-shadow: 0px 0px 15px #e0e0e0;
    border: 1px solid #d2d2d2;
}

img.bl_client_review_prop.author_avatar {
    display: inline-block;
    width: 15%;
    vertical-align: top;
}

p.bl_client_review_prop.author {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    max-width: 75%;
    vertical-align: top;
}

p.bl_client_review_prop.timestamp {
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
}

.bl_client.gold_stars_wrapper {
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
	.bl_client_review.google {
		width: 100% !important;
		margin: 0;
		margin-bottom: 15px;
	}
    img.bl_client_review_prop.author_avatar {
        width: 10% !important;
    }
}
